.find-icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}
.find-icons__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find-icons__icon i {
    margin-bottom: 30px;
}
.find__main-content{
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.3);

}
.find__main-content-title{
    margin-top: 20px;
}
.find__main-content-main{
  
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    
}

.find__main__sub{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color:rgba(0,0,0,0.5);
}
.find__main__sub-footer span{
    padding-right: 5px;
}
.find__main__footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
    
   
}
.find__main__footer-img__xs{
    border-radius: 15px;
    margin-right: 5px;
    width: 100px;
    height: 100px;
}
.find__main__footer-title{
    display: flex;
    flex-direction: column;
   
}

.find__main__footer-title--gray{
    color: rgba(0,0,0,0.5);
    margin: 10px 0px;
}

.find__main__footer-title span:first-child{
    font-weight:bold
}
.find__main__footer-img{
    position: relative;
}
.find__main__footer-img__heart{
    color: white;
    display: flex;
    position: absolute;
    
    top:70px;
    left: 45px;
    width: 50px;
    background-color: rgba(0,0,0,0.3);
    height: 30px;
    border-radius: 50%;
    opacity: 0.8;
    text-align: center;
    align-items: center;
    justify-content: center;
}